@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Pinyon+Script&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Ubuntu', sans-serif;
}

/* navbar */

.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    z-index: 999;
}

.navbar.sticky{
    padding: 15px 0;
    background: plum;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    color: purple;
    font-size: 18px;
    margin-right: 30px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: black;
}

.navbar .logo a{
    font-size: 35px;
    font-weight: 600;
    color: purple;
    font-family: 'Pinyon Script';
}

.navbar .logo a:hover{
    color: black;
}

.menu-btn{
    color: purple;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

/*Project Page*/
.wrapper{
    width: 100%;
    overflow-x: hidden;
    padding-top: 120px;
}
.category-filter{
    margin-top: 40px;
}
.title{
    margin-bottom: 40px;
}
.title h1{
    color: purple;
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    letter-spacing: 1px;
}
.filter-btns{
    text-align: center;
}
.filter-btn{
    background: none;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    display: inline-block;
    margin: 10px 30px;
    font-size: 16px;
    color: plum;
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
    transition: all 0.2s ease-in-out;
}
.filter-btn::after{
    content: "";
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    background-color: purple;
    transition: all 0.2s ease-in-out;
}
.filter-btn-hover{
    color: purple;
}
.filter-btn:hover::after{
    width: 100%;
}
.active-btn{
    color: purple;
}
.filter-items{
    margin-top: 40px;
}
.item-img{
    position: relative;
    overflow: hidden;
    border-radius: 16px 16px 0 0;
}
.item-img::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(212, 203, 203, 0.1);
}
.item-img .discount{
    position: absolute;
    right: 0;
    top: 20px;
    background-color: white;
    z-index: 1;
    border-radius: 2px;
    color: white;
    font-size: 4px 16px;
}
.item-img img{
    width: 100%;
    display: block;
    transition: transfor, 0.2s ease-in-out;
}
.filter-item:hover .item-img img{
    transform: scale(1.1);
}
.item-info{
    padding: 14px 0;
}
.item-info p{
    font-weight: 600;
    font-size: 17px;
    margin-top: 8px;
}
.item-info .old-price{
    font-size: 14px;
    font-weight: 700;
    text-decoration: line-through;
}
.item-info .new-price{
    display: inline-block;
    margin-left: 6px;
    font-weight: 400;
    font-size: 12px;
    padding: 12px;
    padding-bottom: 4px;
    color: black;
}
.container-project{
    height: 136px;
}
.add-btn{
    display: inline-block;
    margin-top: 20px;
    background-color: none;
    text-decoration: none;
    color: purple;
    padding: 8px auto;
    border-radius: 2px;
    border: none;
    transition: all 0.2s ease-in-out;
}
.add-btn:hover{
    color: plum;
    text-decoration: underline;
    
}
.filter-items{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    
}
.filter-item{
    width: 100%;
    height: 500px;
    margin-bottom: 40px;
    animation: fadeIn 3s;
    background: none;
    text-align: center;
    border-radius: 16px;
    border: 2px solid plum;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/*Footer*/
footer{
    padding-top: 240px;
    padding-bottom: 16px;
    text-align: center;
}
footer .span{
    color: purple;
    font-style: 'Ubuntu', sans-serif;
}
footer .design span{
    color: purple;
    font-weight: 800;
}
footer .design span:hover{
    color: black;
    text-decoration: underline;
}

/*Responsive media query*/
@media (max-width: 1300px){
    .home .max-width{
        margin-left: 0px;
    }
}

@media (max-width: 1104px){
    .about .about-content .left img{
        width: 300px;
        object-fit: cover;
    }
    .filter-item{
        height: 700px;
    }
    .filter-btns .filter-btn{
        font-size: 16px;
        margin: 12px;
    }
}

@media (max-width: 991px){
    .max-width{
        padding: 0 50px;
    }
    .filter-item{
        height: 400px;
    }
    .filter-btns .filter-btn{
        font-size: 16px;
        margin: 12px;
    }
}

@media (max-width: 947px){
    .max-width{
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: plum;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 18px;
    }
    .home .home-content .text-2{
        font-size: 48px;
    }
    
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content .btn-1{
        font-size: 18px;
        padding: 10px 30px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .max-width{
        max-width: 800px;
    }
    .filter-item{
        height: 600px;
    }
}

@media (max-width: 690px){
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content .btn-1{
        font-size: 14px;
        padding: 8px 20px;
    }
    .filter-btns .filter-btn{
        font-size: 14px;
        margin: 12px;
    }
}

@media (max-width: 500px){
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .home .home-content .btn-1{
        font-size: 12px;
        padding: 6px 10px;
    }
    .filter-btns .filter-btn{
        font-size: 12px;
        margin: 6px;
    }
    .filter-item{
        height: 600px;
    }
}

@media screen and (min-width: 768px){
    .filter-item{
        width: calc(50% - 30px);
    }
}
@media screen and (min-width: 992x){
    .filter-item{
        width: calc(33.3333% - 30px);
    }  
}
@media screen and (min-width: 1200px){
    .filter-item{
        width: calc(33.333% - 30px);
    }
}